h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    height: 28em;
    /* background: rgb(255,234,38);
    background: linear-gradient(270deg, rgba(255,234,38,1) 0%, rgba(255,238,80,1) 48%, rgba(246,231,83,1) 100%); */
    background-image: url("/Img/BannerJavascript.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amarillo {
    /* filter: hue-rotate(10deg) brightness(100%); */
    filter: contrast(40%) sepia(1) hue-rotate(20deg) saturate(1000%);
}

.franja{
    margin-top: 50px;
    width: 100%;
    height: 30px;
    background-color: rgb(49, 49, 49);
}

header div i{
    font-size: 120px;
}

header div{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
header div h1{
    font-weight: 800;
    font-size: 50px;
    text-shadow: 1px 1px 5px white;
}

hr {
    padding: 0;
    margin: 0;
    height: 10em;
    background-color: black;
}

h4{
    font-family: 'Roboto', sans-serif;
}

main{    
    width: 100%;
    height: 51em; 
    justify-content: center; 
    padding-top: 10px; 
}

footer
{
    background-color: rgb(255,234,38);
    background: linear-gradient(270deg, rgba(255,234,38,1) 0%, rgb(255, 233, 33) 48%, rgb(251, 231, 51) 100%);
    width: 100%;
    height: 15em;
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.panel {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-radius: 13px;
    align-items: center;
    align-content: center;
    display: grid;
    background-color: #fbeb54;
    text-align: center;
    font-size: 70px; }
.panel i {
    padding-bottom: 10px; }

.flex {
    display: flex;
    flex-wrap: wrap; }

.grid {
    display: grid; }

main > div {
        height: 100%;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 400px 400px;
        column-gap: 70px;
        align-items: center;
        justify-content: center;
}

.panel:hover {
    box-sizing: 150px;
    color: black;
    box-shadow: 2px 2px 8px 5px #818080;
    -ms-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; }

    .panel:active {
    box-sizing: inherit;
    -webkit-transition: all 100ms ease-in-out;
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9); }


    a {
        text-decoration: none;
        color: #2c2c2c; }

        a:link, a:hover, a:focus{
        text-decoration: none;
        color: #2c2c2c; }

#Lineales, #Alternativos, #Otros, #Repeticion{
    color: #2c2c2c;
}

#Lineales:hover, #Alternativos:hover, #Otros:hover, #Repeticion:hover {
    color: black;
}

.redes_sociales > li > a > i {
    font-size: 40px;
    color: black; }

    .redes_sociales {
        display: flex;
        padding-left: 150px;
        padding-top: 30px;
        padding-bottom: 15px; }

        .redes_sociales li {
            list-style-type: none;
            padding-right: 35px; 
            text-decoration: none;
        }

            footer > h4 {

                color: black;
                font-weight: lighter; }
            footer > h5 {
                color: black;
                font-family: 'Noto Sans KR', sans-serif;
                text-align: center;
                font-weight: lighter; }