html, body{
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}

body{
    flex-direction: row;
}

#cuerpo{
    flex-direction: column;
    width: 100%;
    height: 100%;
}


#enunciadoUno, #enunciadoDos, #enunciadoTres{
    width: 50%;
    height: 31em;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 30px;
    background-color: #c0b2f5;
    border-color: #c0b2f5;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


#txtNum1,
#txtNum2,
#txtNum3,
#txtNum4,
#txtNum5{
    margin-top: 15px;
}

h3{
    color: whitesmoke;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 100%;
}
.encabezadoEnun{
    background-color: #D95284;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}

form{
    font-weight: bold;
}

label{
    padding-bottom: 5px;
    padding-top: 10px;
}

.enunciadoEnun{
    padding-top: 10px;
    text-align: justify;
}

.textbox{
    width: 250px;
}

.flex{
    display: flex;
}



#pnlBotones{
    width: 100%;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

.boton{
    width: 150px;
    margin-right: 20px;
}

/* .respmenu a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #3F1EB3;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}
.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;  
}

.respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
    margin-left: 45px;
}

.respmenu input[type="checkbox"] {
    opacity: 0; 
}

.respmenu {
    color: white;
    position: relative; 
    background:#3F1EB3;
    min-height: 48px;
    height: 100%;
    width: 6%;
    padding-top: 50px;
}

.respmenu nav {
    display: none;
}


.respmenu input:checked ~ nav {
    display: block;
    width: 17em;
}

.respmenu input:checked ~ .fa-bars {
    display: none;
    width: 17em;
}

.respmenu input:not(:checked) ~ .fa-times {
    display: none;
    width: 17em;
} */

